.front-colour-rebeccapurple {
    color: rgb(63, 39, 128);
}

h2 {
    background-color: rgb(90, 194, 90);
}
#project-list {
    color: #0aad0a;
    border: solid 4px darkgreen;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    background-color: honeydew;
    display: inline-block;
    margin-top: 0px;
    margin-left: 25px;
}

h3 {
    background-color: rgb(71, 196, 196);
}
.list-item {
    color: teal;
    border: solid 4px teal;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    background-color: rgb(240, 250, 255);
    display: inline-block;
    margin-top: 0px;
    margin-left: 25px;
    
}